{{! Use the main layout }}
{{!< main }}

<!---
<script src="https://apis.google.com/js/platform.js" async defer></script>
--->

<div class="container justify-content-center row">
    <section class="login-area w-75">
        <div class="card m-3">
            <div class="card-header">New to PlantTouching?</div>
            <h2 class="card-title m-3 p-2 text-center">•¤»((¯♥¯))«¤• Welcome, new planttoucher!! •¤»((¯♥¯))«¤•</h2>
            <!-- errors will appear here -->
            {{#if regError}}
                <p class="p-3 mb-2 bg-danger text-white text-center">{{regError}}</p>
            {{/if}}
            <form action="/registerUsername" method="POST" class="m-3">
                <!-- the registration form goes here -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="username" class="form-control" name="register_username" id="register_username">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-lg">Register</button>
                </div>
            </form>
        </div>
    </section>
</div>
